<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
             
              <div class="copyright-box">
                <div class="socials">
                  <ul>
                    <li><a href="https://www.facebook.com/gabriela.moron.71/"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                    <li><a href="https://www.instagram.com/moron9878"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                    <li><a href="https://web.whatsapp.com/"><span class="ico-circle"><i class="bi bi-whatsapp"></i></span></a></li>
                    <li><a href="https://github.com/GabrielaMoron/Curriculum"><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                  </ul>
                </div>
                <p class="copyright">&copy; Gabriela Moron <strong>Portafolio</strong>.Curriculum developer</p>
                <div class="credits">
               
                
                  Designed by <a href="https://bootstrapmade.com/">Gabriela Moron</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>