<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Curriculum EDNA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

 
  <link href="/style.css" rel="apple-touch-icon">
  
  <!--  CSS Files -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/style2.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <%- include('../template/nav'); %>
  </header><!-- End Header -->
 <!-- ======= Counter Section ======= -->
 <div id="estudio" class="section-counter paralax-mf bg-image" >
    <div class="overlay-mf"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-4">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <span class="counter-text">BACHILLER</span>
              <p data-purecounter-start="1" data-purecounter-end="100" data-purecounter-duration="2" class="counter purecounter"></p>
            </div>
          </div>
        </div>

          <div class="col-md-4">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <span class="counter-text">TECNICO <br>
                Programación de software
              </span>
              <p data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="4" class="counter purecounter"></p>
            </div>
          </div>
        </div>
       
        <div class="col-md-4">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
            </div>
            <div class="counter-num">
              <span class="counter-text">TECNÓLOGO <br>
                analisis y desarrollo  de sistemas de información
              </span>
              <p data-purecounter-start="0" data-purecounter-end="80" data-purecounter-duration="6" class="counter purecounter"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Counter Section -->
   <!-- ======= Blog Section ======= -->
   <section id="blog" class="blog-mf sect-pt4 route">
    <div class="epref">
    <div class="container">
      <div class="container position-relative">
      <div class="referenc">
          <div class="row">
            <div class="col-md-4">
          <div class="card card-blog">
            
               <div class="card-body">
                 <div class="card-category-box">
                   <div class="card-category">
                     <h6 class="category">TECNICO</h6>
                   </div>
                 </div>
                 <h3 class="card-title"><a href="">SENA</a></h3>
                 <p class="card-description">
                   Graduada del tecnico formativo del sena, 
                   como enfasis seleccionado en el colegio con proyecto academico, con 
                   el conocimiento en analisar los requisitos del cliente para construir el sistema de informacion,
                   comprender textos en ingles en forma escrita y auditiva,
                   construir y refuerzon en las habilidades blandas.
                 </p>
               </div>
           </div>
            </div>
          
            <div class="col-md-4">
          <div class="card card-blog">
            
               <div class="card-body">
                 <div class="card-category-box">
                   <div class="card-category">
                     <h6 class="category">TECNNOLOGO</h6>
                   </div>
                 </div>
                 <h3 class="card-title"><a href="">SENA</a></h3>
                 <p class="card-description">
                  Estudiante del tecnologo de Analisis y Desarrollo 
                  de Sistemas Informaticos, con proyecto formativo individual, 
                  asignaturas orientadas a el FronEnd, BackEnd, 
                  Analisis de Documentos y Bases de Datos.
                 </p>
               </div>
           </div>
            </div>
          
  <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                
                </div>
                <div class="card-body">
                  <div class="card-category-box">
                    <div class="card-category">
                      <h6 class="category">BACHILLER</h6>
                    </div>
                  </div>
                  <h3 class="card-title"><a href="">Alberto Lleras Camargo</a></h3>
                  <p class="card-description">
                    Graduada del colegio Alberto Lleras Camargo en el 2021, fue uno de mis grandes logros ya que apesar de no salir con un reconocimiento,
                    a lo largo del ultimo año de escula estuve un gran dendimiento academico, recibiendo elogios por parte de las personas academicas (docentes, orientadores y coordinadores),
                    por supuesto tambien por parte de mi familia, a los que siempre estuvieron para mi.
                  </p>
                </div></div>
              
         
          </div>
        </div>
      </div>
  
 </div>
  </div>
    </div>
  </section><!-- End Blog Section -->
  <footer>
    <%- include('../template/footer'); %>
  </footer><!-- End  Footer -->
   <script src="/main.js"></script>  </body>

 