<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title> Curriculum EDNA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
  
    <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Vendor CSS Files -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="public/css/style.css" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="logo"><a href="index.html"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="public/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="index.html">Inicio</a></li>
            <li><a class="nav-link scrollto" href="perfil.html">Perfil</a></li>
            <li><a class="nav-link scrollto" href="habilidades.html">Habilidades</a></li>
            <li><a class="nav-link scrollto " href="estudios.html">Estudios</a></li>
            <li><a class="nav-link scrollto " href="referencias.html">Referencias</a></li>
      
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>

        <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              HABILIDADES
              </h3>
              <p class="subtitle-a">
                habilidades y conocimientos empleados como Desarrollador.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-palette"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Diseñador FRONTEND</h2>
                <p class="s-description text-center">
                  Practica  lenguajes de hipertexto tales como css y html, junto con conocimientos de diseño
                   empleados para la comodidad visual e interacción satisfactoria  del usuario.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">ANALISTA</h2>
                <p class="s-description text-center">
                Como desarrolador me encuentro en la capacidad de emplear herramientas de comprensión y consulta a un problema con disposición de
                proponer y poner en practica soluciónes para el desarrollo pleno de un proyecto.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-code-slash"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Desarrollador BACKEND</h2>
                <p class="s-description text-center">
                  Practica lenguajes tecnicos de programación tales como Java,JavaScript y PHP,
                   emplea tambien conocimientos en la ejecución y uso de bases de datos.
                </p>
              </div>
            </div>
          </div>
         
    </section><!-- End Services Section -->
    </body>