<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title> Curriculum EDNA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
   
    <link href="/style.css" rel="apple-touch-icon">
  
    <!--  CSS Files -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="style.css" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="logo"><a href="index.html"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="public/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="index.html">Inicio</a></li>
            <li><a class="nav-link scrollto" href="perfil.html">Perfil</a></li>
            <li><a class="nav-link scrollto" href="habilidades">Habilidades</a></li>
            <li><a class="nav-link scrollto " href="estudios.html">Estudios</a></li>
            <li><a class="nav-link scrollto " href="referencias.html">Referencias</a></li>
      
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
      <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                          <img src="testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                          <p><span class="title-s">Nombre: </span> <span>Edna Gabriela Moron Sanchez</span></p>
                          <p><span class="title-s">Perfil: </span> <span>Desarrollador de pila completa</span></p>
                          <p><span class="title-s">Fecha de nacimiento: </span> <span>17/09/2005</span></p>
                          <li><span class="bi bi-geo-alt"></span>CRA 107 A # 131 B-51</li>
                          <li><span class="bi bi-phone"></span> ( +57 ) 310 744 8126</li>
                          <li><span class="bi bi-envelope"></span> gabi.moronsa@gmail.com</li>
                       
                        </div>
                      </div>
                    </div>
                   
                  </div>
                  <div class="col-md-4">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          Perfil profesional
                        </h5>
                      </div>
                      <p class="lead">
                        Una persona trabajadora,compatible con cualquier ambiente de trabajo, creativa, responsable, con aspiraciones y
                        deseos de superación; abierta a adquirir nuevos conocimientos y habilidades confrontando
                        retos que ayuden e incrementen mi formación tanto personal como laboral.
                      </p>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->
    </body>