img{
    
    position: center;
    width: 37rem;
}
@media (min-width: 420px)and (max-width: 790px){
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-left: -3rem;
    
}
}
@media (min-width: 700px) and (max-width: 790px) {
.img {
      display: flex;
     
      margin-top: 3rem;
      
    }
  }
  